*{
    box-sizing: border-box;
}

body {
    width: 600px;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(135deg, #1b1b1b, #2f2f2f);
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    border: 3px solid #5c5cff;
    border-bottom: none;
}

.gameHeader {
    width: 100%;
    padding: 10px 20px;
    background: #4a4a8a;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #5c5cff;
}

.resourceBar span {
    margin-right: 20px;
    font-weight: bold;
}

.questsMain {
    text-align: center;
    margin: 20px;
}

.questsMain h1 {
    color: #9dafff;
    margin-bottom: 20px;
}

.questsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quest {
    background: linear-gradient(145deg, #4a4a8a, #2e2e6d);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(92, 92, 255, 0.4);
    color: white;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.quest:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(157, 175, 255, 0.6);
}

.quest h2 {
    margin: 0;
    font-size: 1.2em;
    color: #e8e8e8;
}

.quest p {
    margin: 10px 0;
    font-size: 0.9em;
    color: #c7c7ff;
}

.quest button {
    background: linear-gradient(145deg, #6a6ab5, #494984);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s;
}

.quest button:hover {
    background: linear-gradient(145deg, #494984, #6a6ab5);
    transform: scale(1.1);
}
.backToMain {
    background: linear-gradient(145deg, #6a6ab5, #494984); /* Градиент кнопки */
    color: white;
    font-size: 1em;
    border: 2px solid #9dafff;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(92, 92, 255, 0.4);

    top: 10px;
    right: 10px;
}

.backToMain:hover {
    background: linear-gradient(145deg, #494984, #6a6ab5);
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(157, 175, 255, 0.6);
}
